body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: radial-gradient(circle, rgba(39,223,12,1) 0%, rgba(17,126,20,1) 100%);
}

#dealer-cards img{
    height: 175px;
    width: 125px;
    margin: 2px;
}

#your-cards img{
    height: 175px;
    width: 125px;
    margin: 2px;
}

button{
    width: 100px;
    height: 50px;
    font-size: large;
}